# ==================================================================
#       S. Thewessen
#       Personal: ~/.oh-my-zsh/custom/aliases

#       Last modified: Mo 28 Jan 2019
# ==================================================================

# Dotfiles (bare repo, branch pi)
alias dot='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

[ -f "$HOME/fzf-extras.sh" ] && source "$HOME/fzf-extras.sh"

# Simple watch filechange and run file command (needs notify-tools)
notify() {
  echo
  while inotifywait "$1" 2>/dev/null 1>/dev/null; do
    sleep 0.1 && "$1"
  done
}

# =================================
#             General
# =================================
# List processes
alias pstree='pstree -aclp'

# Dir STACK, zsh and csh only
alias dh='dirs -v'

alias c='clear' # Clear the screen
alias j='jobs' # Current running jobs
alias p='ps -f'
alias sortnr='sort -n -r'

alias grep='grep --color'
alias sgrep='grep -R -n -H -C 5 --exclude-dir={.git,.svn,CVS} '

alias chf='find . -type f -exec chmod 644 {} \;'
alias chd='find . -type d -exec chmod 755 {} \;'

alias h='history' # Bash history
alias hgrep='fc -El 0 | grep'
alias help='man'
alias t='tail -f'

alias dud='du -d 1 -h'
alias duf='du -cksh *'
alias fd='find . -type d -name'
alias ff='find . -type f -name'

alias l='ls -lFh --group-directories-first'
alias ll='ls -l --group-directories-first'
alias la='ls -lAFh --group-directories-first'
alias lr='ls -tRFh --group-directories-first'
alias lt='ls -ltFh --group-directories-first'
alias ldot='ls -d .* --group-directories-first'

alias zshrc="$EDITOR ~/.zshrc"
alias bashrc="$EDITOR ~/.bashrc"
alias tmuxrc="$EDITOR ~/.tmux.conf"
alias vimrc="$EDITOR ~/.vimrc"

# =================================
#               Pipes
# =================================

alias -g G="| grep"
alias -g T="| tail"
alias -g H="| head"
alias -g S="| sort"
alias -g L="| less -X"
alias -g M="| most"
alias -g V="| nvim -"
alias -g LL="2>&1 | less -X"
alias -g NE="2> /dev/null"
alias -g NUL="> /dev/null 2>&1"

# =================================
#               Vim
# =================================

alias vi='nvim'
alias vig='nvim +Gstatus -c ":only"' 
alias viplug='nvim +PlugInstall +qall'
alias viplug-clean='nvim +PluginClean +qall'

# Start neovim with Obsession
function nvim() {
  if test $# -gt 0; then
    env nvim "$@"
  elif test -f Session.vim; then
    env nvim -S
  else
    env nvim -c Obsession
  fi
}

