[submodule ".vim.symlink/bundle/vim-tmux"]
	path = .vim.symlink/bundle/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule ".vim.symlink/bundle/vim-fugitive"]
	path = .vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim.symlink/bundle/vim-vinegar"]
	path = .vim.symlink/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
