RESTIC_REPOSITORY=s3:s3.nl-ams.scw.cloud/CHANGE-ME-bucket
RESTIC_PASSWORD=CHANGE-ME
AWS_ACCESS_KEY_ID=CHANGE-ME
AWS_SECRET_ACCESS_KEY=CHANGE-ME
BACKUP_PATHS=/srv/data
LIMIT_UPLOAD=8000
RETENTION=--keep-daily 7 --keep-weekly 4 --keep-monthly 12 --keep-yearly 3
