[Desktop Entry]
Name=WhatsApp
Comment=Launch WhatsApp in chrome
Exec=chromium-browser --app='https://web.whatsapp.com/'
Icon=chromium-browser
Terminal=True
Type=Application
Categories=Network;Communication;Online
