[Desktop Entry]
Name=YouTube
Comment=Launch YouTube in firefox
Exec=firefox https://www.youtube.com/
Icon=firefox
Terminal=True
Type=Application
Categories=Network;Movies;Online
