[Desktop Entry]
Name=YouTube
Comment=Launch YouTube as chromium app
Exec=chromium-browser --app="https://www.youtube.com/"
Icon=chromium-browser
Terminal=True
Type=Application
Categories=Network;Movies;Online
